* {    
    margin: 0;
    padding: 0;    
}

*,*::before,*::after {
    box-sizing: inherit;
}

html {    
    box-sizing: border-box;
    font-size: 62.5%; /* Define 1 rem = 10 pixel */
}

body {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    font-family: 'Roboto Slab', serif;    
    line-height: 1.6;
}

section {
    display: flex;       
}

/* #header {    
    position: fixed;
    left: 0;
    top: 0;
}
*/

#secvideo {
    flex-direction: column;    
    margin: 5rem 5rem 0 0;
    overflow: auto;
    width: 100%;     
} 

#secvideo span { 
    margin: 5rem;   
    width: 50%;
    font-size: 6rem;            
    color: #fff; 
    text-align: left;     
} 

#videobg {  
    position: absolute;  
    width: 97.5%;
    height: 70rem;
    z-index: -1;
    object-fit: fill;
    opacity: 0.6;
}

#secCard {
    flex-direction: column;
    margin: 5rem 0 5rem 0;
    text-align: left;
    /* -webkit-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75); */
}

#secCard h1 {
    color: #000;
    font-size: 8rem;
    margin: 0 0 0 5rem;
}

#secCard span {
    margin: 1rem 0 0 5rem;
    font-size: 4rem;
}

#secQuemSomos {
    flex-direction: column;
    margin: 5rem 0 5rem 0;
    text-align: left; 
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); 
    height: 80rem;  
}

#secQuemSomos img {
    width: 97.5%;
    height: 80rem;    
    position: absolute;
    opacity: .6;
    z-index: -1;
}

#secQuemSomos h1 {
    color: #fff;
    font-size: 8rem;
    margin: 0 0 0 5rem;
}

#secQuemSomos span {
    color: #fff;
    margin: 1rem 0 0 5rem;
    font-size: 4rem;
}

#footer {    
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #636161;
    font-size: 1.5rem;
    color: #919191;
    text-align: center;
}

#logo {
    margin-left: 25rem;
}

#menu {
    align-self: flex-end;
    margin-left: 25rem;
}

#menu ul {    
    display: flex;
    padding:0px;
    margin:0px;    
    list-style:none;
}

#menu ul li {
    display: flex;
    margin: 1.2rem;
}

#menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 2.6rem;
}

#menu ul li a:after {
    display: block;
    content: '';
    border-bottom: 0.3rem solid #636161;  
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;  
}

#menu ul li a:hover:after { 
    transform: scaleX(1);
}

#submenu {    
    margin-left: 25rem;
}

#submenu ul {    
    display: flex;
    padding:0px;
    margin:0px;    
    list-style:none;
}

#submenu ul li {
    display: flex;
    margin: 1.2rem;
}

#submenu ul li a {
    display: inline-block;
    text-decoration: none;  
    color: #919191;  
    font-size: 1.5rem;
}

#submenu ul li a:hover {
    color: #fff;
}

@media screen and (max-width: 1550px){

    #logo {
        margin-left: 14rem;
    }
    
    #menu {
        align-self: flex-end;
        margin-left: 14rem;
    }

    #menu ul li {
        display: flex;
        margin: 0.6rem;
    }
    
    #menu ul li a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        font-size: 2rem;
    }

    #secvideo span { 
        margin: 2.5rem;   
        width: 50%;
        font-size: 4rem;            
        color: #fff; 
        text-align: left;     
    } 

    #videobg {  
        position: absolute;  
        width: 97.5%;
        height: 50rem;
        z-index: -1;
        object-fit: fill;
        opacity: 0.6;
    }
    
}