* {
    padding: 0;
    margin: 0;
}

*,*::before,*::after {
    box-sizing: inherit;
}

html {    
    box-sizing: border-box;
    font-size: 62.5%; /* Define 1 rem = 10 pixel */
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;    
    line-height: 1.6;
}

section {
    height: 92%;
}

h1 {
    font-size: 7rem;
}

.header {
    display: flex; 
    position: sticky; 
    height: 12%;
    top: 0; 
    width: 100%;
    padding: 0 0 0 10%;
    background: #fff; 
    z-index: 999;
}

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #636161;
    font-size: 1.5rem;
    color: #919191;
    text-align: center;    
}

#menu {
    align-self: flex-end;
    margin-left: 10%;
}

#menu ul {
    display: flex;
    list-style: none;
    padding: 2rem;    
}

#menu ul li {
    display: flex;
    margin: 1.2rem;
}

#menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 2.6rem;
}

#menu ul li a:after {
    display: block;
    content: '';
    border-bottom: 0.3rem solid #636161;  
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;  
}

#menu ul li a:hover:after { 
    transform: scaleX(1);
}

#submenu ul {    
    padding-left: 25rem;
    display: flex;   
    list-style:none;    
}

#submenu ul li {
    display: flex;
    margin: 1.2rem;
}

#submenu ul li a {
    display: inline-block;
    text-decoration: none;  
    color: #919191;  
    font-size: 1.5rem;
}

#submenu ul li a:hover {
    color: #fff;
}

#secvideo1 {
    flex-direction: column;        
    overflow: none;    
    /* margin: 6.1% 0 0 0; */
} 

#secvideo1 span {  
    position: absolute;        
    left: 8rem; 
    margin-top: 5rem;
    width: 50%;     
    font-size: 6rem;            
    color: #fff; 
    z-index: -1;        
} 

#video1 {  
    position: relative;  
    width: 100%;
    z-index: -2;
    object-fit: fill;
    /* opacity: 0.6; */
}

#secNossoServico {
    display: flex; 
    justify-content: center;   
    align-items: center;
    height: 85rem;
}

#secNossoServico h1{
    color: #000;
}

#secNossoServico span {
    /* padding: 5rem; */
    font-size: 3.6rem;
}

.card {    
    margin: 5rem;
    padding: 5rem;
    width: 25%;
    height: 90%;
    -webkit-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card .round {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: orange;    
    margin-left: 35%;
}

.card h2 {
    text-align: center;    
    font-size: 3.6rem;
}

.card p {
    margin: 1rem;
    font-size: 1.6rem;
}

#secQuemSomos {
    display: flex; 
    flex-direction: column;
    height: 90rem;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ); 
}

#secQuemSomos img {    
    width: 100%;
    height: 93%;    
    position: absolute;    
    z-index: -1;
}

#secQuemSomos h1 {
    margin-left: 5rem;
    color: #fff;
}

#secQuemSomos p {
    color: #fff;
    margin: 1rem 0 0 5rem;
    font-size: 3.6rem;
}

#secClientes {
    display: flex;   
    flex-direction: column; 
    height: 90rem;  
    text-align: center;  
}

#secClientes h1 {
    text-transform: uppercase;    
    color: #000;
}

.divClientes {
    display: flex;
    flex-wrap: wrap;    
    margin: 2rem;
}

.containerClientes {
    margin: 3rem;    
}

.containerClientes img {
    width: 14rem;
    height: 14rem;    
    object-fit: fill;
    transition: all .2s ease-in-out;    
}

.containerClientes img:hover {
    transform: scale(1.1);
    border: 3px green solid;
}

#secNossoTrabalho {
    display: flex; 
    flex-direction: column;
    height: 90rem;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ); 
}

#secNossoTrabalho h1 {
    margin-left: 5rem;
    color: #fff;
}

#secNossoTrabalho p {
    color: #fff;
    margin: 1rem 0 0 5rem;
    font-size: 3.6rem;
}

#secNossoTrabalho img {
    width: 100%;
    height: 93%;    
    position: absolute;    
    z-index: -1;
}

#secContato {
    height: 90rem;
    font-family: 'Bitter', serif;
}

#secContato h2 {
    font-size: 4.6rem;
    text-align: center;
    top: 50%;    
    color: #666666;
}

.returntop {
    position: fixed;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: #454443;
    z-index: 999;
    bottom: 5rem;
    right: 5rem;    
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.returntop:hover {
    transform: scale(1.1);
}

.returntop span {
    display: block;
    content:'';
    margin: 40%;
    background-color: #fff;    
    height: 0.5rem;
    width: 2rem;
}

.returntop span:first-of-type {
    transform: translateX(-1.1rem) rotate(-40deg);
}

.returntop span:last-of-type {
    transform: translateY(-2.8rem) translateX(0.3rem) rotate(40deg);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


@media only screen and (max-width: 1366px) {
    body {  
        line-height: 1.4;
    }

    h1 {
        font-size: 5rem;
    }
    
    .header {
        height: 90%;
        width: 100%;
        padding: 0 0 0 10%;                
    }

    #menu ul {
        padding: 1.4rem;    
    }
    
    #menu ul li {
        margin: 1rem;
    }
    
    #menu ul li a {    
        font-size: 2.4rem;
    }

    #secNossoServico {
        height: 65rem;
    }

    #secQuemSomos {
        height: 72rem;        
    }

    #secClientes {
        height: 70rem;           
    }

    #secNossoTrabalho {       
        height: 70rem;        
    }

    #secContato {
        height: 70rem;        
    }
}